  * {
    font-family: sans-serif;
    text-align: center;
    margin-top: 40px;
    color: #eee7ff;
    margin-top: 12px;
  }

  .calculator{
    margin: auto;
    width: 58%;
    border-style:dotted;
    border-radius: 18px;
    padding-top:1px;
  }

  .number-inputs {
    margin-bottom: 20px;
  }
  
  input {
    margin-top: 15px;
    font-size: 80px;
    border-radius: 10px;
    border: none;
    width: 25%;
    padding: 10px;
    text-align: center;
  }

  
  input:focus { 
    outline: none;
  }
  
  input:first-child {
    margin-right: 20px;
  }
  
  button {
    margin-top: 30px;
    padding: 30px 40px;
    font-size: 30px;
    border-radius: 20px;
    border: none;
    margin-bottom: 50px;
    cursor: pointer;
  }

  button:focus{
    outline: none;
  }
  
  h2 {
    font-size: 150px;
  }

  select{
    width: 10%;
    margin-top: 40px;
    margin-bottom: 12px;
    font-size: 40px;
    border: none;
    border-radius: 9px;
    padding-left: 3px;
    padding-right:5px;
  }

  select:focus{
    outline: none;
  }
